*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar{display: none;}
.upper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: rgb(206, 206, 13);
    box-shadow: 0 0 25px black;
    border-radius: 0 0 3rem 3rem;
}
.wires{
    position: fixed;
    top: 7vh;
    width: 100vw;
    height: 10vh;
    left: 0;
    background: linear-gradient(90deg,transparent 0%,transparent 4%, black 4%,black 4.5%,transparent 4.5%,transparent 5.5%, black 5.5%, black 6%,transparent 6%,transparent 26%,black 26%,black 26.5%,transparent 26.5%,transparent 27.5%, black 27.5%,black 28%,transparent 28%,transparent 48%,black 48%,black 48.25%,transparent 48.25%,transparent 49.75%, black 49.75%,black 50%,transparent 50%,transparent 70%,black 70%,black 70.5%,transparent 70.5%,transparent 71.5%, black 71.5%,black 72%,transparent 72%,transparent 92%,black 92%,black 92.5%,transparent 92.5%,transparent 93.5%, black 93.5%,black 94%,transparent 94%,transparent 100%);
    z-index: 3;
}
.page{
    position: fixed;
    top: 14vh;
    width: 100vw;
    height: 86vh;
    left: 0;
    background: rgb(241, 241, 241);
    box-shadow: 0 0 25px black;
    display: grid;
    border-radius: 3rem 3rem 0 0;
    overflow: scroll;
    font-size: 3vh;
    font-weight: bolder;
}
.page > *{
    grid-column-start: 1;
    grid-row-start: 1;
}
.leftMargin{
    position: sticky;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    z-index: 3;
    border-right: 2px solid red;
}
.upperBlank{
    position: relative;
    top: 1%;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding: 0 7vh 3vh 0;
    text-align: right;
}
.main{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 80%;
}
.container > *{
    grid-column-start: 1;
    grid-row-start: 1;
}
.lines div{
    position: relative;
    width: 100%;
    height: 4.5vh;
    border-top: 1px solid rgb(0, 110, 255);
}
input{
    background: transparent;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 2.8vh;
    transition: .5s;
}
input:focus{outline:none;}
input:hover{border-bottom: 2px solid red;}
